{% extends "layout.html" %}
{% block content %}
    
    <div><h1>Detalles del pedido</h1></div>
    <div class="container">
        <div class="item">
            <p>Referencia</p>
            <h3>{{ order['product_id'] }}</h3>
        </div>
        <div class="item">
            <p>Cantidad</p>
            <h3>{{ order['quantity'] }}</h3>
        </div>
        <div class="item">
            <p>Talla</p>
            <h3>{{ order['size'] }}</h3>
        </div>
        <div class="item">
            <p>Color</p>
            <h3>{{ order['color'] }}</h3>
        </div>
        <div class="item">
            <p>Precio unidad</p>
            <h3>{{ result[2] }}</h3>
        </div>
        
    </div>
    <div><h1>Inventario disponible del producto:</h1></div>
    <div class="container">
        <div class="item">
            <p>Referencia</p>
            <h3>{{ result[0] }}</h3>
        </div>
        <div class="item">
            <p>Producto</p>
            <h3>{{ result[1] }}</h3>
        </div>
        <div class="item">
            <p>Precio</p>
            <h3>{{ price }}</h3>
        </div>
        <div class="item">
            <p>Inventario talla elegida</p>
            <h3>{{ result[3] }}</h3>
        </div>
    </div>
    {% if on_hand == false %}
            <div class="container">
                <legend>Cantidad insuficiente del artículo, por favor añadir más cantidad de la talla pedida para este artículo para procesar</legend>
                <form method="POST" 
                action="/inventory_add?ref={{ result[0] }}&color={{ order['color'] }}&size={{ order['size'] }}&quantity={{ order['quantity'] }}&original_qty={{ result[3] }}">
                    {{ process_order.hidden_tag() }}
                    {{ process_order.add_inventory() }}
                </form>
                <form method="POST" action="/cancellation">
                    {{ process_order.hidden_tag() }}
                    {{ process_order.cancel_order() }}
                </form>
                
            </div>
    {% else %}
            <div>
                <form method="POST" action="/order_confirmation?ref={{ result[0] }}&color={{ order['color'] }}&size={{ order['size'] }}&quantity={{ order['quantity'] }}">
                    {{ process_order.hidden_tag() }}
                    {{ process_order.create_order() }}
                </form>
                <form method="post" action="/cancellation">
                    {{ process_order.hidden_tag() }}
                    {{ process_order.cancel_order() }}
                </form>
                
            </div>
    {% endif %}
    

{% endblock content %}